@page
@model WebApp.Pages.ProfileInformationModel
@{
}
<h2>Your information:</h2>
Name: @Model.CurrentEmployee.GetFirstAndLastName()
<br>
Email: @Model.CurrentEmployee.email
<br>
Working hours: @Model.CurrentEmployee.workingHours
<br>
Birth date: @Model.CurrentEmployee.birthDate.Date
<br>
Address: @Model.CurrentEmployee.address
<br>
Department: @*@Model.CurrentEmployee.Department*@
<br>
Your current position: @Model.CurrentEmployee.employeeRole
<br>
Phone number: @Model.CurrentEmployee.phoneNumber
<br>
Salary: @Model.CurrentEmployee.salary